.nav-pills>li>a{
    color: rgb(255, 196, 142); 
}
.nav-pills>li:active{
    background-color: darkgray;
    color: rgb(255, 196, 142);
}
.nav-pills>li:hover{
    color:black;
    background-color: rgb(231, 229, 229)
}

.navbar{
    background-color:rgb(50, 50, 50);
    padding:0%
}

.container-fluid{
    padding:0%
}

.navbar-header{
    padding-left: 3%;
    padding-right: 3%;
}