
<div class="container-fluid">
    <div class="navbar navbar-light bg-faded"  style="justify-content: flex-start">
        <div class="navbar-header">
            <a class="navbar-brand">ELITE MECHS</a>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item nav-link" style="margin: initial" routerLinkActive="active"><a class="nav-link" routerLink="/projects">PROJECTS</a></li>
            <li class="nav-item nav-link" style="margin: initial" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/">DATASOURCES</a></li>
            <li class="nav-item nav-link" style="margin: initial" routerLinkActive="active"><a class="nav-link" routerLink="/reports">REPORTING</a></li>
        </ul>
    </div>
</div>